<!DOCTYPE HTML>
<html ng-app="gemStore">
	<head>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body ng-controller="StoreController as store">
		<div class="container" ng-hide="store.product.soldOut">
			<h1>{{"Hello, " + "Angular!"}}</h1>			
			<div class="list-group">
				<div class="list-group-item" ng-repeat="product in store.products">
					<h3>
						{{product.name}}
						<em class="pull-right">{{product.price | currency}}</em>
					</h3>
					<div class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
						<img class="img-wrap" ng-src="{{product.images[gallery.current]}}" />
						<ul class="img-thumbnails clearfix">
							<li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
								<img src="{{image}}"
							</li>
						</ul>
					</div>	
					<section class="tab" ng-controller="TabController as tab">
				        <ul class="nav nav-pills">
				          <li ng-class="{ active: tab.isSet(1) }">
				            <a href ng-click="tab.setTab(1)">Description</a></li>
				          <li ng-class="{ active: tab.isSet(2) }">
				            <a href ng-click="tab.setTab(2)">Specs</a></li>
				          <li ng-class="{ active: tab.isSet(3) }">
				            <a href ng-click="tab.setTab(3)">Reviews</a></li>
				        </ul>
				        <product-description ng-show="tab.isSet(1)"></product-description>
				        
				        <div product-specs ng-show="tab.isSet(2)"></div>
				        
				        <div ng-show="tab.isSet(3)">
				          	<ul>
				              	<h4>Reviews</h4>
							  	<li ng-repeat="review in product.reviews">
				                <blockquote>
				                	<strong>{{review.stars}} Stars</strong>
				                  
									<cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
				                </blockquote>
				              </li>
				           	</ul>
				           	<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
				              <!--  Live Preview -->
				              <blockquote>
				                <strong>{{reviewCtrl.review.stars}} Stars</strong>
				                {{reviewCtrl.review.body}}
				                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
				              </blockquote>
				
				              <!--  Review Form -->
				              <h4>Submit a Review</h4>
				              <fieldset class="form-group">
				                <select required ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars">
				                  <option value="">Rate the Product</option>
				                </select>
				              </fieldset>
				              <fieldset class="form-group">
				                <textarea required ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
				              </fieldset>
				              <fieldset class="form-group">
				                <input required ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
				              </fieldset>
				              <fieldset class="form-group">
				                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
				              </fieldset>
				            </form>
				        </div>
				    </section>				
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>